@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&family=Roboto:wght@400;700&display=swap');

:root{

    /* FONT */
    --poppins:'Poppins', sans-serif;
    --roboto:'Roboto', sans-serif;

    /* COLOR */
    --herald:#74c043;
    --dark: #41741f;
    --darker: #274a10;
}

*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}

.container{
    max-width: 1200px;
    margin-inline:auto;
    padding-inline: auto;
}

body{
    background-image:linear-gradient(#74c043, #478f17);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

/* NAVIGATION BAR */

.nav{
    display: flex;
    justify-content: space-between;
    height: 12vh;
    align-items: center;
    transition: 0.8s;   
    padding-inline: 150px;
}

.menu{
    display: flex;
}

ul {
    list-style: none;
}

ul li a{
    text-decoration: none;
    color: white;
    padding-inline: 20px;
    font-family: var(--poppins);
    font-weight: lighter ;
    transition: 0.2s ease;
    
}

.logo img{
    width: 80px;
    transition: 0.2s ease-in;
}

.logo img:hover{
    transform:rotate(-10deg);
}

ul li a:hover{
    color: #41741f;
}

.icons{
    display: flex;
    justify-content: space-around;
    width: 10vw;
    transition: 0.2s;
}

.fa-brands{
    font-size: 25px;
    color: white;
    transition: 0.2s;
}

.fa-brands:hover{
    color: #41741f;
    transform: scale(1.3);
}

/* BODY */
.content{
    display: flex;
    margin-top: 50px;
    align-items: center;
    justify-content: space-around;

}

.personal-picture img{
    width: 350px;
    border-radius: 90px 0px 90px 0px;
    transition: 0.5s;
}
.mero{
    font-family: var(--poppins);
    color: #274a10;
    font-size: 5rem;
}

.portfolio{
    font-family: var(--poppins);
    color: white;
    font-size: 5rem;
}

p{
    font-family: var(--poppins);
    color: white;
    font-size: 1.2rem;
    width: 45vw;
}

.personal-picture img:hover{
    border-radius: 0px 90px 0px 90px;
}

button{
    border: none;
    color: white;
    background-color: var(--dark);
    padding: 10px 30px;
    font-family: var(--poppins);
    margin-top: 20px;
    transition: 0.5s;
    font-size: 1.2rem;
}

button::before{
    content: "";
    position: absolute;
    left: 0%;
    width: 100%;
    height: 0%;
    background: #ffffff;
    z-index: -1;
    transition: 0.5s;
    top:0;
    border-radius: 0 0 50% 50%;
}

button:hover{
    
    color: var(--dark);
    background-color: #ffffff;
    transform: scale(1.05);
}

button:hover::before{
    height: 100%;
}

.blob{
    position: absolute;
    background-color: white;
    height: 25vh;
    width: 25vh;
    top: 29%;
    left: 15%;
    transform: translate(-50%,-50%);
    animation: example 8s linear infinite;
    opacity: 0.2;
    z-index: -1;
}

@keyframes example {
    0%, 100%{
        border-radius: 45% 55% 70% 35% / 70% 30% 90% 40% ;
    }

    25%{
        border-radius: 55% 45% 30% 35% / 50% 30% 60% 10% ;
    }

    50%{
        border-radius: 65% 35% 35% 65% / 40% 60% 30% 70% ;
    }

    50%{
        border-radius: 35% 65% 60% 40% / 70% 30% 40% 60% ;
    }
}

.shape{
    background-color: white;
    height: 10vh;
    position: absolute;
    bottom: 0%;
    right: 0%;
    left: 0%;
    border-radius: 100% 0px 0px 0px;
}

.fa-solid{
    font-size: 25px;
    color: white;
    transition: 0.2s;
    z-index: 10001;
    display: none;
}

.fa-solid:hover{
    color: #41741f;
    transform: scale(1.3);
}

.active .fa-solid{
    color: var(--dark);
}

.active .fa-solid:hover{
    color: var(--herald);
}

.home{
    color: var(--dark);
    cursor: default;
}
