/* COPY FROM HERE TO - */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&family=Roboto:wght@400;700&display=swap');

:root{

    /* FONT */
    --poppins:'Poppins', sans-serif;
    --roboto:'Roboto', sans-serif;

    /* COLOR */
    --herald:#74c043;
    --dark: #41741f;
    --darker: #274a10;
}

*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}

.container{
    max-width: 1200px;
    margin-inline:auto;
    padding-inline: auto;
}

body{
    background-image:linear-gradient(#74c043, #478f17);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
}

.nav{
    display: flex;
    justify-content: space-between;
    height: 12vh;
    align-items: center;
    transition: 0.8s;   
    padding-inline: 150px;
}

.menu{
    display: flex;
}

ul {
    list-style: none;
}

ul li a{
    text-decoration: none;
    color: white;
    padding-inline: 20px;
    font-family: var(--poppins);
    font-weight: lighter ;
    transition: 0.2s ease;
    
}

.logo img{
    width: 80px;
    transition: 0.2s ease-in;
}

.logo img:hover{
    transform:rotate(-10deg);
}

ul li a:hover{
    color: #41741f;
}

.icons{
    display: flex;
    justify-content: space-around;
    width: 10vw;
    transition: 0.2s;
}

.fa-brands{
    font-size: 25px;
    color: white;
    transition: 0.2s;
}

.fa-brands:hover{
    color: #41741f;
    transform: scale(1.3);
}

.fa-solid{
    font-size: 25px;
    color: white;
    transition: 0.2s;
    z-index: 10001;
    display: none;
}

.fa-solid:hover{
    color: #41741f;
    transform: scale(1.3);
}

.active .fa-solid{
    color: var(--dark);
}

.active .fa-solid:hover{
    color: var(--herald);
}

.abilities{
    color: var(--dark);
    transition: 0.2s;
    cursor:default;
}

/* - HERE - */

/* MAIN BODY */

h1{
    color: white;
}
h2{
    color: var(--darker);
}

.abilities-section{
    color: var(--herald) !important;
    font-family: var(--poppins);
    display:flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-block: 25px;
}

.box{
    padding: 1rem;
    text-align: center;
    height: 50vh;
    border-radius: 20px 0px 20px 0px;
    flex-basis: 30%;
    background-color: white; 
    margin-block: 10px;   
}

.heading{
    color: var(--dark);
    font-size: 1.5rem;
    padding-block: 5px;
}

.para{
    text-align:center;
    font-size: 1rem;
}


.font-asm:hover{
    color: var(--herald);
}


.font-asm{
    font-size: 40px;
    color: var(--herald);
    display: block;
    transition: none !important;
    transform: none !important;
    padding-block: 10px;
}

.title h1{
    font-family: var(--poppins);
    text-align: center;
    margin-top: 25px;
    font-weight: lighter;
}

span{
    color: var(--darker);
    font-weight: lighter;
}



